<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Trillo</title>
  </head>
  <body>
    <h1>Trillo</h1>
    <p><i>A DAPS Industries Product</i></p>

    <div id="new-card">
      <form action="/newCard" method="POST">
        <input id="new-card-text" type="text" name="task" placeholder="What do you need to do?"/>
        <button id="new-card-button">Add Card</button>
      </form>
    </div>
    
    {{{body}}}

  </body>
</html>