@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*YOUR CODE HERE*/
body{
	background-color: grey;
}


.accordion {
	width: 500px;
	margin: 0 auto;
	background-color: white;


}
label
{
	display: inline-block;    
    color: blue;
    width: 100%;

    transition: background-color 0.5s ease;
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

label:hover {
	background-color: navy;
	color: white;
}

input{
	display: inline-block;
	width: 20px;
	display: none;
}

.section {
	display: none;
	font-family: 'Open Sans', sans-serif;
	padding: 1rem;	
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

dt{
	font-size: 1.25rem;
}

dd{
	font-size: 1rem;
}

/*CSS click events*/

input[id~="section1"]:checked~ label[for=section1] + .section{
	display: block;
}

input[id~="section2"]:checked~ label[for=section2] + .section{
	display: block;
}

input[id~="section3"]:checked~ label[for=section3] + .section{
	display: block;
}
