<form action="/artists" method="POST" style="clear: left; text-align: center;" id="edit">
	
	Name<br>
	<label for="name">
		<input type="text" name="name">
	</label><br>
	Image URL<br>
	<label for="img_url">
		<input type="text" name="img_url">
	</label><br>
	Nationality<br>
	<label for="nationality">
		<input type="text" name="nationality">
	</label><br>
	Birth Year<br>
	<label for="birth_year">
		<input type="text" name="birth_year">
	</label><br>
	Description
	<br><label for="description">
		<textarea name="description" form="edit" rows="4" cols="50"></textarea>
	</label><br>
	<input type="submit" value="Submit">
</form>