<div id='container'>

		<form action="/newDog" method="POST">
			<input type='text' name='name' placeholder='name'>
			<input type='text' name='age' placeholder='age'>
			<input type='text' name='fee' placeholder='adoption fee'>
			<button type="submit">Add</button>
		</form>

</div>