<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Museum App</title>
  </head>
  
  <body>
    
    <header>
      <a href="/" style="text-decoration: none; color: black;">
        <h1>Museum App</h1>
      </a>
    </header>

    <nav class="nav">
      <a href="/">Home</a>
      <a href="/artists">Artists</a>
      <a href="/paintings">Paintings</a>
    </nav>

    {{{body}}}

  </body>

</html>