<form action="/tweed/{{id}}" method="POST" >
  <input name ="_method" type="hidden" value ="PUT">
   <input type = "text" name="tweed" value="{{tweed}}" placeholder="post a tweed here"/>
    <input type = "text" name="author" value="{{author}}" placeholder="place your name here"/>
   <input type="submit"/>
 </form>