<html>
<head>
	<title>TWEEDr</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="new-tweed-form">
		<form action="/newTweed" method="POST">
			<input type="text" name="tweed" placeholder="your message">
			<input type="text" name="author" placeholder="author">
			<button type="submit">TWEED</button>
		</form>
	</div>
	{{{body}}}
</body>
</html>