<!DOCTYPE>
<html>
<head>
	<title>Express App</title>
<!-- 	<link type="text/css" href="/css/style.css">
 --></head>
<body style="background-color: yellow;">

	<center>
		<div>
			Rachelle's navigation
			<a href=""></a>
		</div>

		<!-- top navigation here -->
		{{{body}}} <!-- side bar -->
		<!-- footer here -->

		lsdajflsadjkfjksdajfklsdjkfjskldjfkl

		<div>
			Rachelle's footer
		</div>

	</center>
</body>
</html>