<div id="container">
	
	<form action="/products/add" method="POST">
				Product: <input type="text" name="product" placeholder="product name">
				Manufacturer: <input type="text" name="manufacturer" placeholder="manufacturer name">
				Inventory: <input type="text" name="inventory" placeholder="amount in stock">
				Price: <input type="text" name="price" placeholder="price, no $">
				<input type="submit" value="submit product">
	</form>
</div>