<html>
<head>
	<title>ToDo.ly</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1>ToDo.ly</h1>
	<section>
		<form action="/items" method="POST">
			<input type="text" name="task" placeholder="What do you need to do today?"/>
			<button>Add ToDo</button>
		</form>
	</section>

	{{{body}}}


</body>
</html>