<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id='search_div'>
	<input type="text" name='search' placeholder='Title'>
	<button id='submit'>Search</button>
</section>
<div id="movie-wrapper">

</div>

</body>
</html>
