<!DOCTYPE html>
<html>
  <head>
    <title>TweedrStarter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div id='new-tweed-form'>
        <input type="text" name='content' placeholder="What's on your mind?"><br>
        <input type="text" name='author' placeholder="Who are you?"><br>
        <button id='submit'>Tweed It</button>
    </div>

    <div id='tweed-collection-view'>
      
    </div>
    
  </body>
</html>