<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Inventory Manager</title>
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		<nav>
			<h4><a href="/">Inventory Manger</a></h4>
			<ul>
				<li><a href="/products">Products</a></li>
				<li><a href="/employees">Employees</a></li>
				<li><a href="/invoices">Invoices</a></li>
			</ul>
		</nav>

		{{{body}}}

	</body>

</html>