<p class='description'>{{description}}</p>
<label>Mark as Done
{{#if completed }}
    <input class='checkbox' type="checkbox" checked>
{{else}}
    <input class='checkbox' type="checkbox">
{{/if}}
</label>
<p class='delete'>Delete</p>