<html>
<head>
	<title>PetShop</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
		<a href='/' id="title"><h4>Pet Shop</h4></a>
		<ul>
			<a href="/cats"><li>Cats</li></a>
			<a href="/dogs"><li>Dogs</li></a>
		</ul>
	</nav>
	{{{body}}}
</body>
</html>