<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Tweed.r</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
	
		<a href="/">BRING ME BACK HOME</a>
		<br>
		<br>
		<form action="/newTweed" id="new-tweed-form" method="POST">
			<input type="text" name="tweed" placeholder="Tweed">
			<input type="text" name="author" placeholder="Author">
			<button>Tweed It</button>
		</form>

		<h1>SUPER SUITE TWEEDS</h1>

		{{{body}}}

	</body>

</html>