<div class="tweed">
    <p class="content">
        {{content}}
    </p>
    <p class="author">
        {{author}}
    </p>
    <div class="vote">
        <span class="vote-button" id="downvote"> - </span>
        <span class="votes">{{upvote}}</span>
        <span class="vote-button" id="upvote"> + </span>
    </div>
    <p class="delete">
        delete
    </p>
</div>